@page
@model RazorPagesWeb.Pages.Packaging.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Packaging</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Packaging.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Packaging.Capacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Packaging.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
